<ion-header>
  <ion-toolbar>
    <ion-title><h2>Login</h2></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="LoginPageContainer">
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]='user'></ion-input>
  </ion-item>
  <hr>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]='password'></ion-input>
  </ion-item>

  <ion-button expand="full" class="loginButton" (click)='logIn()'>Iniciar sesión</ion-button>

  <ion-item lines="none" text-center>
    <ion-label>
      <a class="registerLink" href="#">¿ No tienes una cuenta ?</a>
    </ion-label> 
  </ion-item>

</ion-content>